[submodule "webkit"]
	path = webkit
	url = https://github.com/sloanyang/webkit.git
[submodule "aquanticbuilder"]
	path = aquanticbuilder
	url = https://github.com/sloanyang/aquanticbuilder.git
[submodule "aquanticvisualizer"]
	path = aquanticvisualizer
	url = https://github.com/sloanyang/aquanticvisualizer.git
