[submodule "webkit"]
	path = webkit
	url = https://github.com/sloanyang/webkit.git
[submodule "aquanticbuilder"]
	path = aquanticbuilder
	url = https://github.com/sloanyang/aquanticbuilder.git
[submodule "aquanticvisualizer"]
	path = aquanticvisualizer
	url = https://github.com/sloanyang/aquanticvisualizer.git
[submodule "BrowserBenchmark"]
	path = BrowserBenchmark
	url = https://github.com/sloanyang/BrowserBenchmark.git
[submodule "jitedjs"]
	path = jitedjs
	url = https://github.com/sloanyang/jitedjs.git
[submodule "Tools/Scripts/python/gyp"]
	path = Tools/Scripts/python/gyp
	url = https://github.com/sloanyang/gyp.git
[submodule "Tools/gyp"]
	path = Tools/gyp
	url = https://github.com/sloanyang/gyp.git
[submodule "Tools/Depends"]
	path = Tools/Depends
	url = https://github.com/sloanyang/depends.git
